*{
    box-sizing: border-box;
}
.header-content-container{
    position: fixed;
    top:0;
    width:100%;
    background-color: rgb(3, 112, 30);
    border-bottom: 1px solid goldenrod;
    padding:6px;
    margin:0px;
    z-index: 1;
    text-align: center;

}
.header-content-container>h1,
.summary-container>h3{
    margin:0px; font-size: 2rem; 
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 5px auto;
    text-align: center;
}
.summary-container>h3{
    font-size: 1.3rem;
}

.header-content-container>h1::before,
.header-content-container>h1::after,
.summary-container>h3::before,
.summary-container>h3::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: yellowgreen; 
    transition: transform 0.5s ease, width 0.5s ease; 
}
  
  
.header-content-container>h1::before,
.summary-container>h3::before {
    top: 0;
    transform: scaleX(0);
    transform-origin: right;
    background-color: rgb(205, 106, 35);
}
  
.header-content-container>h1::after,
.summary-container>h3::after {
    bottom: 0;
    left: 0; 
    transform: scaleX(0);
    transform-origin: left; 
}
  
.header-content-container>h1:hover::before,
.header-content-container>h1:hover::after,
.summary-container>h3:hover::after,
.summary-container>h3:hover::before {
    transform: scaleX(1);
}

.main-content-wrapper{
    position:fixed;
    bottom:0;
    width:100%;
    background-color: rgba(2, 49, 22, 0.884);
    border-top: 1px solid goldenrod;
  
}
.main-content-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:auto;
    max-width: 2560px;
    margin-top: 10px;
    /* align-content: center; */
    /* align-items: center; */
    margin-left: 100px;
    margin-right: 100px;
    
    
}
.summary-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    width: 200px;
    max-height: 800px;
    border: 2px solid rgba(255, 217, 0, 0.24);
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding:5px;
}
.summary-container:hover{
    background-color: rgba(218, 165, 32, 0.089);
    border: 2px solid rgba(255, 217, 0, 0.84);
}
.summary-container img{
    width:195px;
    height:195px;
    border-radius: 25px;
    opacity: 0.8;
}
.summary-container img:hover{
    opacity: 1;
}

h3{
    margin-top: 5px;
    margin-bottom: 10px;

}
pre{
    margin:5px;
}
a, a:visited, a:hover, a:checked {
    text-decoration: none;
    color:yellowgreen;
    text-align: center;
}
.typer-text{
    padding-bottom:10px;
    font-size: larger;
    /* margin-top: 0px; */
}

#canvas1 {
    position: absolute;
    /* background: #474847; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('/images/back.jpg');
    background-size: cover;
    /* transition: background-color 0.7s, color 0.7s; */
    z-index: -9;
    
     
}
