html{
    --main-color2: purple;
    --main-color1: yellowgreen;
    --main-background-dark: rgb(15, 15, 15);
    --main-background-light: rgb(54, 54, 54);
}
*{
    box-sizing: border-box;
    /* border:1px solid red; */
    /* --main-color1:yellowgreen; */
    cursor: url('../images/pointer-2.png'), auto;
    
}
body{
    background-color: var(--main-background-dark);
    color:var(--main-color1);
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-image: url('../images/back.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover; */
    /* transition: background-color 0.7s, color 0.7s; */
    /* cursor: url('../images/pointer.png'), auto; */
}
h1, h3, pre{
    text-align: center;
}
.light{
    background-color: var(--main-background-light);
    color:var(--main-color1);
    text-shadow: 0px 0px 10px black;
    /* transition: black 5.7s, white 5.7s; */
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: transparent;
}
::scrollbar{
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color:  rgb(44, 43, 42);
    border-radius: 8px;
}

::-scrollbar-thumb{
    background-color:  rgb(44, 43, 42);
    border-radius: 8px;
}   

::-webkit-scrollbar-thumb:hover{
    background-color: yellowgreen;
}

::-scrollbar-thumb:hover{
    background-color: yellowgreen;
}

::-webkit-scrollbar-button{
    display: none;
}
::-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-corner{
    display: none;
}
::-scrollbar-corner{
    display:none;
}

/* ::-webkit-scrollbar-thumb:active{
   
} */

/* ::-webkit-scrollbar-track{
    background-color: aliceblue;
} */

/* ::-webkit-scrollbar-track-piece:end{
    background-color: brown;
    box-shadow: inset -1px rgba(0 0 0 0.1);
} */
