:root {
    --main-white: #f0f0f0;
    --main-green: #055e11;
    --main-gray: #303841;
    --background-accent: #414241;
    --darkmode-white: rgb(175, 172, 172);
}

* {
    margin: 0;
    padding: 0;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.light{
    background-image: linear-gradient(45deg, var(--main-white), var(--darkmode-white));
    color: var(--main-green);
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    scroll-behavior: smooth;
    cursor: url('../images/pointer-2.png') 10 10, auto;
}

a{
    font-size: 1.8rem; 
    text-decoration: none;
    color: var(--main-white);
}

a:hover{
    cursor: url('../images/pointer.png')10 10, auto;
    color: yellowgreen;
}


body {
    margin: 0;
    font-family: Jersy, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(45deg, var(--main-gray), var(--background-accent));
    /* background-color: var(--main-gray); */
    color: var(--main-white);
    
}

header {
    background-color:var(--main-gray);
    color: var(--main-white);
    padding: 1rem 0; 
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--main-white);
    text-decoration: none;
    padding: 0 2rem; 
    font-size: 1.8rem; 
}

nav ul li a:hover,
nav ul li a:active {
    color: yellowgreen;
}

.section {
    padding: 10rem 0; 
    text-align: center;
    height: 95vh;
    overflow: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills{
    display: flex;
    justify-content: center;
    max-width: 400px;
    flex-wrap: wrap;
}

.skills>p{
    border: 1px solid yellowgreen;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
}

.projects-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.content img,
.project img {
    width: 20rem; 
    border-radius: 2rem; 
    margin-bottom: 2rem; 
}

.project {
    max-width: 25rem; 
}

.project img:hover {
    box-shadow: 0 0 0.2rem yellowgreen; 
}

h1 {
    font-size: 3.6rem; 
    margin-bottom: 2rem; 
}

h2 {
    font-size: 2.4rem; 
    margin-bottom: 1rem; 
}

.project {
    margin-bottom: 4rem; 
    overflow: hidden;
}

p {
    font-size: 1.8rem; 
}

.socials{
    position: fixed;
    left:10px;
    top:50%;
    border: 1px solid yellowgreen;
    
    border-radius: 3px;
    padding: 15px;
}


.contact-links {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem; 
    font-size: 2.4rem; 
}

.contact-links a:hover {
    color: yellowgreen;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.8rem;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    border: 1px solid #055e11;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    background-color: #055e11;
    color: #ccc;
}

button:hover{
    cursor: url('../images/pointer.png')10 10, auto;
    background-color: #027912;
}

footer {
    bottom: 0;
    background-color: var(--main-gray);
    color: #fff;
    text-align: center;
    padding: 2rem 0; 
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline;
}



.green-italic {
    color: var(--main-green);
    text-decoration: italic;
}

*::-webkit-scrollbar {
    width: 0.8rem; 
    height: 0.8rem; 
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(44, 43, 42);
    border-radius: 0.8rem; 
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-green);
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-corner {
    display: none;
}


@media screen and (max-width: 768px) {
    nav ul li a {
        padding: 0 1rem;
        font-size: 1.4rem; 
    }
    h1 {
        font-size: 3.2rem; 
        margin-bottom: 2rem; 
    }
    
    h2 {
        font-size: 2.2rem; 
        margin-bottom: 1rem; 
    }
    p{
        font-size: 1.6rem; 
    }
}
